*.ide
*.ide-shm
*.ide-wal
Library/*
*.bin
*.info
*.info
/Temp/
/Logs/
*.log
*.info
*.log
*.pdb
*.csproj
/.vs/
/obj/
*.sln
AssetDump.txt
UserSettings/EditorUserSettings.asset
ProjectSettings/MemorySettings.asset
UserSettings/Layouts/default-2021.dwlt
ProjectSettings/SceneTemplateSettings.json
UserSettings/Layouts/default-2022.dwlt
