*.ide
*.ide-shm
*.ide-wal
Library/*
!Library/LastSceneManagerSetup.txt
*.bin
*.info
*.info
/Temp/
/Logs/
*.log
*.info
*.log
*.pdb
*.csproj
/.vs/
/obj/
*.sln
AssetDump.txt
PrefabsManifest.txt
ProjectSettings/ProBuilderSettings.json
